header {
  text-align: center; /* This centers the title */
  margin-top: 20px; /* Or whatever value looks good to give some top space */
}

body {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: repeat(2, 100px) 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.kanji-link {
  text-decoration: none; /* Removes the underline from links */
  color: inherit; /* Keeps the text color consistent with the rest of the block */
  display: block; /* Makes the anchor fill the container */
  transition: color 0.3s ease; /* Smooth color transition for text */
}

.kanji-block:hover {
  transform: translateY(-5px); /* Slightly raise the block */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4); /* Enhance shadow for 3D lift effect */
  background-color: #ececec;
  cursor: pointer;
}

.kanji-block:hover .kanji-link {
  color: #555;
}

.kanji-block {
  width: 500px;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr 400px;
  /* grid-template-rows: repeat(2, 100px) 1fr; */
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.character {
  margin: 10px;
  font-size: 3em;
  line-height: 1;
  margin-bottom: auto;
}

.keyword {
  font-style: italic; /* Italicize the keyword */
  font-weight: bold; /* Make it bold */
  margin-top: 10px; /* Add a little space between the kanji and the keyword */
  color: #555; /* A darker grey for better contrast */
  font-size: 1.2em; /* Make it larger than normal text */
  word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
  white-space: normal; /* Allows the text to wrap */
  line-height: 1.2; /* Adjust the line height to ensure readability */
}

.components {
  list-style: none;
}

section > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#search {
  text-align: center;
  max-width: 600px;
}

#search input[type="text"] {
  display: block; /* Use block to fill the container */
  width: 80%; /* Responsive, based on parent width */
  margin: 20px auto; /* Center it */
  padding: 12px 20px; /* Comfortable spacing inside */
  border: 2px solid #ccc; /* Gentle, visible border */
  border-radius: 25px; /* Nice round edges */
  font-size: 16px; /* Legible font size */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
  transition: border-color 0.3s; /* Smooth transition for interactions */
}

#search input[type="text"]:focus {
  outline: none; /* Removes the default outline to customize focus style */
  border-color: #007bff; /* Highlight color when focused */
  box-shadow: 0 0 0 3px rgba(0,123,255,0.5); /* Glow effect when focused */
}

#search input[type="text"]::placeholder {
  color: #aaa; /* Stylish placeholder color */
}

/* Adding a subtle interaction effect on hover */
#search input[type="text"]:hover {
  border-color: #007bff; /* Slightly highlight border on hover */
}
